{% extends 'main/base.html' %}


{% block content %}

{%for item in page_obj%}
<div class="form-control">
    <div class="">
        <ul>
            <li>{{item.full_address}}</li>
            <li>{{item.full_address_to}}</li>
            <li>{{item.price}}</li>
            <button type="submit">взять заказ</button>
        </ul>
    </div>
</div>
{%endfor%}
<ul>
    {%for page in page_obj.paginator.page_range%}
    <li>
        <a href="?page={{page}}">{{page}}</a>
    </li>
    {%endfor%}
</ul>


{% endblock %}