{% extends 'main/base.html' %}


{% block content %}
<form >
    <input id="city" name="address" type="text" />
    <input id="street" name="address" type="text" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>

<script>
    $("#city").suggestions({
        token: "5424f5ae8c0e01d56e5c5b67623c9274b6444d8e",
        type: "ADDRESS",
        bounds: "city-settlement",
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function(suggestions) {
            console.log(suggestions);
        }
    });
    $("#street").suggestions({
        token: "5424f5ae8c0e01d56e5c5b67623c9274b6444d8e",
        type: "ADDRESS",
        bounds: "street-house",
        constraints: "#city",
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function(suggestions) {
            console.log(suggestions);
        }
    });
</script>
    {% csrf_token %}

</form>
{% endblock %}