{% extends 'main/base.html' %}


{% block content %}
<div class="teams_form">
  <div class="container col-4">
    <form action="{% url 'order' %}" method='POST' class="form-control">
        {% for field in order_form %}
        {% if field == order_form.company_name %}
            <div class="mb-3">
                <label  class="form-label">{{ field.label }}</label>
                <input id="id_company_name" type="text" name="company_name" maxlength="100" required="" value="{{request.user.company_name}}">
            </div>
        {% else %}
            <div class="mb-3">
                <label  class="form-label">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endif %}
        {% endfor %}

        {% csrf_token %}
            <div class=" container w-50">
                <button class="btn btn-outline-success w-100" type="submit">Заказать</button>
            </div>
    </form>
  </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>

<script>
    $("#city").suggestions({
        token: "5424f5ae8c0e01d56e5c5b67623c9274b6444d8e",
        type: "ADDRESS",
        bounds: "city-settlement",
        onSelect: function(suggestions) {
            console.log(suggestions);
        }
    });
    $("#street").suggestions({
        token: "5424f5ae8c0e01d56e5c5b67623c9274b6444d8e",
        type: "ADDRESS",
        bounds: "street-house",
        constraints: "#city",
        onSelect: function(suggestions) {
            console.log(suggestions);
        }
    });
    $("#city_to").suggestions({
        token: "5424f5ae8c0e01d56e5c5b67623c9274b6444d8e",
        type: "ADDRESS",
        bounds: "city-settlement",
        onSelect: function(suggestions) {
            console.log(suggestions);
        }
    });
    $("#street_to").suggestions({
        token: "5424f5ae8c0e01d56e5c5b67623c9274b6444d8e",
        type: "ADDRESS",
        bounds: "street-house",
        constraints: "#city",
        onSelect: function(suggestions) {
            console.log(suggestions);
        }
    });
</script>
{% endblock %}